body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
}

a {
	color: blue;
	cursor: pointer;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
}


table {
	width: 100%;
}

table, td, th {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

div.a {
	text-align: center;
}